/***CUSTOM CSS *****/


body {
	background: white;
}

.container-fluid {
	overflow: hidden;
}

/*FONTS */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif; /* font-family: 'Merriweather Sans', sans-serif; */
	color: black;
	text-transform: uppercase;
}

h1 {
	font-size: 2.5rem;
	font-weight: 800;
}

h1.hero {
	font-size: 4rem;
	font-weight: 800;
	color: white;
}

h2 {
	font-size: 2rem;
	font-weight: 700;
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
    word-wrap: break-word;
}

h4 {
	font-size: 1.2rem;
	font-weight: 400;
}

a {
	color; black;
	border-bottom: 3px solid #ffffff;
}

a:hover {
	border-bottom: 0px solid #ffffff;
	text-decoration: none;
}

p {
	font-family: 'Josefin Sans', sans-serif; /* font-family: 'Open Sans', sans-serif; */
	color: black;
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: none;
}

p a {
	border-bottom: 2px solid #bda853;
}

p a:hover {
	color: black;
	border-bottom: 2px solid #dbc25c;
	text-decoration: none;
	transition: border-bottom 0.5s;
}

p a:visited {
	color: #67fecb;
	text-decoration: none;
}

button a {
	color: white;
	border-bottom: 0px;
	font-size: 1rem;
	padding: 0px;
}

button a:hover {
	border-bottom: 0px;
}

button a:visited {
	color: white;
}



/* BACKGROUND COLORS */
.lightgrey {
	background: lightgrey;
}

.lightsalmon {
	background: lightsalmon;
}

.turkise {
	background: #67fecb;
}

.bordeaux {
	background: #d33e5c;
}

.green {
	background: #06e900;
}

.contactbrand {
	background: #bda853;
}

.alpine {
	  background-image: url(/swisstogo/content/alpine.jpg);
}


/* BUTTONS OVERRIDES */
.btn-hero {
  color: #fff;
  background-color: rgba(189, 168, 83, 0.6);
  border-color: #d4d4d4;
}

.btn-hero:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}



/*NAV */
.navbar {
	margin-bottom: 40px;
}

.navbar a {
	color: black;
	font-weight: 800;
	border-bottom: 3px solid transparent;
	transition: 0.4s;
}

.navbar h4 a:hover {
	border-bottom: 3px solid black;
	transition: 0.4s;
}


img.brand {
	width: 100px;
	height: auto;
	margin: 30px 0px;
	border-bottom: hidden;
}

/* Kickstarter Flag */
/* .k {
color: #bda853;
width: 80px;
height: 80px;
padding: 5px;
background: linear-gradient(45deg, transparent 65px, #bda853 0);
opacity: 0.6;
transition: 0.3s;
position: absolute;
top: 0px;
right: 0px;
z-index: 10;
}

.k:before {
	width: 139px;
	font-size: 0.8rem;
	content: "Find us on Kickstarter";
	position: absolute;
	top: 4px;
	right: 95px;
}

.k:hover {
	opacity: 0.4;
	transition: 0.3s;
}

.k img {
	width: 20px;
	position: absolute;
	top: 9px;
	right: 12px;
	transform: rotate(45deg);
} */


/* LANGUAGE SWITCH */

.switch {

}

.switch ul {
margin: 0px;
margin-left: 50px;
padding: 0px;
display: inline;
list-style-type: none;
}

.switch li {
	display: inline;
}

.switch li a {
	color: black;
	font-weight: 200;
}

.switch li:after {
	content: "|";
}

.switch li:last-child:after {
	content: "";
}


.switch ul > li.active a {
	font-weight: 800;
}


/* FOOTER */

.footer {
	width: 100%;
	background: #ffffff;
	color: #00000;
	font-size: 0.7rem;
	padding: 0px 20px;
	margin: 0;
	position: relative;
	bottom: 0px;
	left: 0px;
	z-index: 100;
}


.footer-wrapper {
  width: 100%;
	margin: 20px 0px;
	padding: 70px 40px;
}

@media (max-width: 575px) {
    .footer-wrapper {
		padding: 5% 0px;
  }
}

.footer-border {
	border-right: 2px dotted #ffffff;
}

@media (max-width: 575px) {
	.footer-border {
	border-right: 0px dotted #ffffff;
	}
}

.footer-content-1 {
	width:100%;
	height: 100%;
}

.footer-content-2 {
	width:100%;
	height: 100%;
	border: 0px solid grey;
}

.footer-content-3 {
	width:100%;
	height: 100%;
}

footer p {
	color: #000000;
	font-size: 0.9rem;
	padding-left: 50px;
	font-weight: 300;
}

footer figure {
	padding-left: 50px;
}


footer h3 {
	color: #000000;
	font-size: 1.0rem;
	font-weight: 400;
	margin: 0px 0px 3px 50px;
	text-transform: none;
}

footer a {
	color: #000000;
	background: linear-gradient(#ffffff, #ffffff) no-repeat;
	background-size: 100% 1px;
	background-position: 0 1.15em;
}


.footer-brand {
	width: 100%;
	padding: 5%;
}

.img-brand {
	float: left;
	width: 20%;
}

.contact-brand {
	float: left;
	width: 60%;
}


/* ALERT NEWSLETTER */

.alert {
  background: white;
  background-image: url(/content/subscribe_background.jpg);
  width: 100%;
  padding: 40px;
  position: relative;
  font-weight: 600;
  z-index: 999;
}

@media (max-width: 576px) {
  .alert {
	padding-top: 60px;
  }
}

.alert h2 {
	  color: white;
}

.alert form input.hidden {
	position:absolute;
	z-index: -100;
	left:-6000px;
}

.close_btn {
	color: #000;
	padding: 15px 0px 5px 10px;
	display: block;
	position: absolute;
	top: 30px;
	right: 40px;
	border-bottom: hidden;
}

@media (max-width: 576px) {
  .close_btn {
	position:absolute;
    top: 10px;
	right: 15px;
  }
}

.content {
  padding: 40px;
}







.teaser {
	background: white;
	padding: 0;
	margin: 0px 0px 40px 0px;
}

.tsr_content {
	float: left;
	padding: 30px;
}

.tsr_image {
	float: left;
}
.image-right {
	float: right;
}

.box {
	margin-top: -50px;
}

.table {
	margin: 100 0;
}

table {
	color: black;
	width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
	background: lightgreen;
}



/* ACCORDION SNIPPET */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: lightgreen;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:first-of-type {
	border-radius: 10px 10px 0px 0px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
    background-color: red;
		color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: lightblue;
    overflow: hidden;
		max-height: 0;
		transition: max-height 0.2s ease-out;
}
.panel:last-of-type {
border-radius: 0px 0px 10px 10px;
}



.section-image__image {
	margin: 0px 0px;
}

.section-image__text {
	margin: 0px 0px;
}

h2.section-image--h2 {
	color: black;
	font-size: 22px;
	font-weight: 700;
}

p.section-image--p {
	color: black;
	font-size: 22px;
	font-weight: 300;
	line-height: 26px;
}

/* SECTION HERO */
section.hero h2  {
	font-size: 2.5rem;
	font-weight: 800;
	margin-top: 20px;
}

/* SECTION IMAGE MODULE */

section.hero {
	padding: 15px;
	margin: 50px 0px;
	overflow: hidden;
}


/* SECTION IMAGE 2 MODULE */

section.margin-big {
	margin-bottom: 100px;
}


/* SECTION BUY NOW MODULE */
section.cta {
	padding: 140px 0px;
}

section.cta.bild {
	background: transparent !important;
}


/* SECTION CONTACT MODULE */

.contact {
	padding: 60px 0px;
}

.contact:hover {
	background: lightblue;
	transition: 0.3s;
}

.contactbutton {
	cursor: pointer;
}

section.contact h3 {
	margin-top: 50px;
	color: black;
	font-weight: 800;
}

section.contact h4 {
	margin: 10px 0px 50px 0px;
	color: black;
}

section.contact a {
	color: black;
	border-bottom: 3px solid white;
}

.contact label {
	color: black;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-style: italic;
	margin: 10px 0px 2px 0px;
}

main.contactpanel {
	display: none;
}


/* SECTION LIST MODULE */

section.list {
	margin: 100px 20px 0px;
}


section.list h4 {
	line-height: 1.2rem;
}

section.list h4:before {
  content: '\f101';
  color: grey;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right:4px;
}

section.list p {
	font-size: 14px;
	margin-bottom: 40px;
}

@media (max-width: 576px) {
	.list-text {
		margin: 0px !important;
		padding: 0px 35px  !important;
	}
}

/* UNIFORM */

.uniform__potty {
    position: absolute;
    left: -9999px;
}

figure.video {
	height: 600px;
}
